In [1]:
import pandas as pd

In [ ]:
# Reading data and show the DataFrame's shape.

In [15]:
file1 = pd.read_csv('file1.csv') #? Here we are reading and we are store the file with another name to simplify and avoid the . ?
print ("file1.csv dataframe shape,", file1.shape)

file1.csv dataframe shape, (4008, 11)

In [14]:
file2 = pd.read_csv('file2.csv')
print ("file2.csv dataframe shape,", file2.shape)

file2.csv dataframe shape, (996, 11)

In [16]:
file2 = pd.read_csv('file3.csv')
print ("file3.csv dataframe shape,", file3.shape)

file3.csv dataframe shape, (7070, 11)

In [22]:
# PRINT zone
print(file3)

     CUSTOMER       STATE  CUSTOMER LIFETIME VALUE             EDUCATION  \
0     SA25987  Washington              3479.137523  High School or Below
1     TB86706     Arizona              2502.637401                Master
2     ZL73902      Nevada              3265.156348              Bachelor
3     KX23516  California              4455.843406  High School or Below
4     FN77294  California              7704.958480  High School or Below
...       ...         ...                      ...                   ...
7065  LA72316  California             23405.987980              Bachelor
7066  PK87824  California              3096.511217               College
7067  TD14365  California              8163.890428              Bachelor
7068  UP19263  California              7524.442436               College
7069  Y167826  California              2611.836866               College

     GENDER  INCOME  MONTHLY PREMIUM AUTO  NUMBER OF OPEN COMPLAINTS  \
0         M       0                   104                          0
1         M       0                    66                          0
2         F   25820                    82                          0
3         F       0                   121                          0
4         M   30366                   101                          2
...     ...     ...                   ...                        ...
7065      M   71941                    73                          0
7066      F   21604                    79                          0
7067      M       0                    85                          3
7068      M   21941                    96                          0
7069      M       0                    77                          0

         POLICY TYPE  TOTAL CLAIM AMOUNT  VEHICLE CLASS
0      Personal Auto          499.200000   Two-Door Car
1      Personal Auto            3.468912   Two-Door Car
2      Personal Auto          393.600000  Four-Door Car
3      Personal Auto          699.615192            SUV
4      Personal Auto          484.800000            SUV
...              ...                 ...            ...
7065   Personal Auto          198.234764  Four-Door Car
7066  Corporate Auto          379.200000  Four-Door Car
7067  Corporate Auto          790.784983  Four-Door Car
7068   Personal Auto          691.200000  Four-Door Car
7069  Corporate Auto          369.600000   Two-Door Car

[7070 rows x 11 columns]

In [ ]:
# Standardize header names.

In [40]:
#Way 1
cols1=[]
for c in file1.columns:
    cols1.append(c.upper())
file1.columns=cols1
print(file1)

     CUSTOMER          ST GENDER             EDUCATION  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

     CUSTOMER LIFETIME VALUE   INCOME  MONTHLY PREMIUM AUTO  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
3                 764586.18%      0.0                 106.0
4                 536307.65%  36357.0                  68.0
...                      ...      ...                   ...
4003                     NaN      NaN                   NaN
4004                     NaN      NaN                   NaN
4005                     NaN      NaN                   NaN
4006                     NaN      NaN                   NaN
4007                     NaN      NaN                   NaN

     NUMBER OF OPEN COMPLAINTS     POLICY TYPE  VEHICLE CLASS  \
0                       1/0/00   Personal Auto  Four-Door Car
1                       1/0/00   Personal Auto  Four-Door Car
2                       1/0/00   Personal Auto   Two-Door Car
3                       1/0/00  Corporate Auto            SUV
4                       1/0/00   Personal Auto  Four-Door Car
...                        ...             ...            ...
4003                       NaN             NaN            NaN
4004                       NaN             NaN            NaN
4005                       NaN             NaN            NaN
4006                       NaN             NaN            NaN
4007                       NaN             NaN            NaN

      TOTAL CLAIM AMOUNT
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003                 NaN
4004                 NaN
4005                 NaN
4006                 NaN
4007                 NaN

[4008 rows x 11 columns]

In [50]:
#Way 2
file1.columns = file1.columns.map(str.upper) 

# map function should be composed map(function, iteration).
# A sequence, collection or an iterator object. 
# You can send as many iterables as you like, just make sure the function has one parameter for each iterable.
# The function to execute for each item. str is the function here, 
#? but how python knows I am referring just to the columns headers, and not to the all data in the column. 
#? What if a specify one column? That's mean I can never edit the data by column?

print(file1)

     CUSTOMER          ST GENDER             EDUCATION  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

     CUSTOMER LIFETIME VALUE   INCOME  MONTHLY PREMIUM AUTO  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
3                 764586.18%      0.0                 106.0
4                 536307.65%  36357.0                  68.0
...                      ...      ...                   ...
4003                     NaN      NaN                   NaN
4004                     NaN      NaN                   NaN
4005                     NaN      NaN                   NaN
4006                     NaN      NaN                   NaN
4007                     NaN      NaN                   NaN

     NUMBER OF OPEN COMPLAINTS     POLICY TYPE  VEHICLE CLASS  \
0                       1/0/00   Personal Auto  Four-Door Car
1                       1/0/00   Personal Auto  Four-Door Car
2                       1/0/00   Personal Auto   Two-Door Car
3                       1/0/00  Corporate Auto            SUV
4                       1/0/00   Personal Auto  Four-Door Car
...                        ...             ...            ...
4003                       NaN             NaN            NaN
4004                       NaN             NaN            NaN
4005                       NaN             NaN            NaN
4006                       NaN             NaN            NaN
4007                       NaN             NaN            NaN

      TOTAL CLAIM AMOUNT
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003                 NaN
4004                 NaN
4005                 NaN
4006                 NaN
4007                 NaN

[4008 rows x 11 columns]

In [51]:
# Rearrange the columns in the dataframe as needed

In [54]:
#Correct the values in the column 'customer lifetime value'. 
#They are given as a percent, so divide them by 100 and change dtype to numerical type. 
#(only 2 of the files need this step.)

print(file1['CUSTOMER LIFETIME VALUE'].head(12)) #Visualazing in which we have the values in %.

0             NaN
1      697953.59%
2     1288743.17%
3      764586.18%
4      536307.65%
5      825629.78%
6      538089.86%
7      721610.03%
8     2412750.40%
9      738817.81%
10     473899.20%
11     819719.71%
Name: CUSTOMER LIFETIME VALUE, dtype: object

In [52]:
print(file2['CUSTOMER LIFETIME VALUE'].head(12))

0      3479.137523
1      2502.637401
2      3265.156348
3      4455.843406
4      7704.958480
5      2750.705045
6     13024.130120
7      2538.626320
8      2585.955652
9      5096.673223
10    10083.486880
11     4943.386117
Name: CUSTOMER LIFETIME VALUE, dtype: float64

In [53]:
print(file3['CUSTOMER LIFETIME VALUE'].head(12))

0      3479.137523
1      2502.637401
2      3265.156348
3      4455.843406
4      7704.958480
5      2750.705045
6     13024.130120
7      2538.626320
8      2585.955652
9      5096.673223
10    10083.486880
11     4943.386117
Name: CUSTOMER LIFETIME VALUE, dtype: float64

In [ ]:
# Just the file1 need to divided by 100 and change dtype to numerical type. Not as the statement says.

In [57]:
# First I need to check the data type values in the colum, because I can not divide a string per integer. 
print(file1['CUSTOMER LIFETIME VALUE'].dtype)
print(file2['CUSTOMER LIFETIME VALUE'].dtype)
print(file3['CUSTOMER LIFETIME VALUE'].dtype) #? Why is the number 64 next to the word?

object
float64
float64

In [72]:
#I need to convert the object value to float. 
#file1['CUSTOMER LIFETIME VALUE'] = file1['CUSTOMER LIFETIME VALUE'].astype(float)
#file1['CUSTOMER LIFETIME VALUE'] = pd.to_numeric(file1['CUSTOMER LIFETIME VALUE'])
              #Any of the previous ones don't run
    
file1['CUSTOMER LIFETIME VALUE'] =  pd.to_numeric(file1['CUSTOMER LIFETIME VALUE'], errors='coerce')
print(file1['CUSTOMER LIFETIME VALUE'].dtype)

float64

In [75]:
file1['CUSTOMER LIFETIME VALUE'] = file1['CUSTOMER LIFETIME VALUE'] / 100
#I can not run this one because I could not convert to float. print(file1['CUSTOMER LIFETIME VALUE']
print(file1['CUSTOMER LIFETIME VALUE'].head(13))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
Name: CUSTOMER LIFETIME VALUE, dtype: float64

In [ ]:
#? NaN ???

In [ ]:
# Concatenate the three dataframes.

In [77]:
concatenated_dfiles = pd.concat([file1, file2, file3])

In [79]:
# First get the data type of all columns
column_dtypes = file1.dtypes
print(column_dtypes)

CUSTOMER                      object
ST                            object
GENDER                        object
EDUCATION                     object
CUSTOMER LIFETIME VALUE      float64
INCOME                       float64
MONTHLY PREMIUM AUTO         float64
NUMBER OF OPEN COMPLAINTS     object
POLICY TYPE                   object
VEHICLE CLASS                 object
TOTAL CLAIM AMOUNT           float64
dtype: object

#Code missing. Manually mode. 
print()
#Which columns are numerical? 
Numerical_columns: CUSTOMER LIFETIME VALUE, INCOME, MONTHLY PREMIUM AUTO, TOTAL CLAIM AMOUNT
#Which columns are categorical?
CUSTOMER,ST,GENDER, EDUCATION, NUMBER OF OPEN COMPLAINTS, POLICY TYPE, VEHICLE CLASS,

#Understand the meaning of all columns.
The bussiness is about car renting or a concessionaire with renting service.

In [ ]:
# Delete the column education and the number of open complaints from the dataframe.

In [ ]:
file1 = file1.drop(['EDUCATION', 'NUMBER OF OPEN COMPLAINTS'], axis=1)

In [ ]:
#Check for duplicate rows in the data and remove if any.

In [80]:
print(file1.shape)
# Do a copy here? For keep all previous changes in another document right?
file1 = file1.drop_duplicates()
print(file1.shape)

(4008, 11)
(1072, 11)

In [ ]:
#Filter out the data for customers who have an income of 0 or less. (Only show customers who HAVE an income.)

In [85]:
file1 = file1[file1['INCOME'] > 0]
print(file1)  #there is no way visualize that better?

Empty DataFrame
Columns: [CUSTOMER, ST, GENDER, EDUCATION, CUSTOMER LIFETIME VALUE, INCOME, MONTHLY PREMIUM AUTO, NUMBER OF OPEN COMPLAINTS, POLICY TYPE, VEHICLE CLASS, TOTAL CLAIM AMOUNT]
Index: []